<div class="form-group">
    <%= f.InputTag("Name") %>
</div>

<div class="form-group">
    <div class="form-row">
        <div class="form-group col-md-5">
            <%= f.SelectTag("BoardID", {options: boards}) %>
        </div>
        <div class="form-group col-md-2">
            <%= f.SelectTag("ScmProviderID", {options: providers}) %>
        </div>
        <div class="form-group col-md-5">
            <%= f.SelectTag("RepositoryID", {options: repos}) %>
        </div>
    </div>
</div>


<button
    class="btn btn-success"
    role="submit"
>
    Save
</button>
