<div class="form-group">
    <label for="name">Name of the project</label>
    <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter name of the project"
    >
</div>

<div class="form-group">
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="selectBoard">Board</label>
            <select class="form-control" id="selectBoard">
                <%= for (index, board) in boards { %>
                    <option value="<%= board.ID %>""><%= board.Name %></option>
                <% } %>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="selectProvider">Provider</label>
            <select class="form-control" id="selectProvider">
                
            </select>
        </div>
        <div class="form-group col-md-5">
            <label for="selectRepo">Github Repo</label>
            <select class="form-control" id="selectRepo">
            </select>
        </div>
    </div>
</div>


<button
    class="btn btn-success"
    role="submit"
>
    Save
</button>
