<div class="page-header">
  <h1>Webhooks</h1>
</div>

<table class="table table-striped">
  <thead>
  <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (webhook) in webhooks { %>
      <tr>
      <td>
          <div class="pull-right">
            <a href="<%= webhookPath({ webhook_id: webhook.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editWebhookPath({ webhook_id: webhook.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= webhookPath({ webhook_id: webhook.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
