<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">

    <title>SB Admin 2 - Login</title>

    <%= stylesheetTag("application.css") %>

  </head>

  <body class="bg-gradient-primary">
    <div class="container">
      <%= partial("partials/flash.html") %>
      <%= yield %>
    </div>
    <%= javascriptTag("application.js") %>
</body>
</html>
